@font-face {
  font-family: 'village';
  src: url("../fonts/VILLAGE.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* line 9, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/* estilos generales*/
/* line 15, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
body {
  font-family: 'Figtree', sans-serif;
}

/* line 19, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.button {
  background: black;
  color: white;
  padding: 15px;
  width: 70%;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.5s;
  transition-timing-function: ease;
  margin-bottom: 50px;
}

/* line 32, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.button:hover {
  opacity: 70%;
}

/* line 36, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
h1 {
  font-family: "village";
  font-size: 45px;
  margin-left: 15px;
  margin-right: 15px;
}

/* line 43, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.section-title {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
  text-align: center;
  margin-bottom: 150px;
}

/* line 51, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.section-title div {
  width: 20%;
  height: 3px;
  background-color: black;
}

/* line 58, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
section {
  padding: 50px;
}

/* header */
/* line 63, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
header {
  background-image: url(../img/bg-rect.png);
  background-position: center;
  background-size: cover;
}

/* header logo */
/* line 69, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#logo {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
}

/* line 77, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#logo img {
  width: 200px;
  margin-top: 15px;
}

/* line 82, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#logo a {
  text-decoration: none;
}

/* line 86, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#logo li {
  list-style: none;
}

/* line 90, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#logo .redes {
  display: flex;
}

/* line 93, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#logo .redes img {
  width: 20px;
  margin-left: 10px;
}

/* navegador */
/* line 102, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#nav-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

/* line 108, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#nav-container nav {
  background: black;
  padding: 10px;
}

/* line 112, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#nav-container nav ul {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
  gap: 15px;
}

/* line 120, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#nav-container nav a {
  color: white;
  font-size: 14px;
  transition: 0.3s;
  text-decoration: none;
}

/* line 127, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#nav-container nav a:hover {
  color: #b52a2c;
}

/* home */
/* home main*/
/* line 136, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#index-main {
  width: 100%;
  height: 100vh;
  background-image: url(../img/home-header.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

/* line 147, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#index-main-content {
  width: 30%;
  margin-left: 100px;
  text-align: center;
}

/* line 152, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#index-main-content img {
  width: 100%;
  margin-bottom: 80px;
}

/* merch */
/* line 158, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#merch-oficial {
  text-align: center;
}

/* line 161, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#merch-oficial .button {
  width: 70%;
}

/* line 166, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#merch-display {
  width: 100%;
  display: flex;
  gap: 25px;
  margin-bottom: 80px;
  align-items: center;
  /* merch animacion */
}

/* line 173, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#merch-display .merch-card {
  width: 25%;
  height: 320px;
  background-image: url(../img/bg-square.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  transition: all 0.5s;
  transition-timing-function: ease;
}

/* line 183, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#merch-display .merch-card img {
  margin-left: -5%;
  margin-top: -30%;
  width: 110%;
}

/* line 189, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#merch-display .merch-card p {
  color: white;
}

/* line 194, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#merch-display .merch-card .item-name {
  font-weight: bold;
}

/* line 198, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#merch-display .merch-card .item-description {
  font-size: 12px;
}

/* line 204, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#merch-display .merch-card:hover {
  opacity: 90%;
}

/* ultimo album */
/* line 210, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#latest-album {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 100vh;
}

/* line 218, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#latest-album img {
  width: 48%;
}

/* line 222, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#latest-album .latest-album-title {
  width: 35%;
}

/* line 225, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#latest-album .latest-album-title img {
  width: 100%;
}

/* line 229, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#latest-album .latest-album-title div {
  display: flex;
  gap: 30px;
  text-align: center;
}

/* line 234, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#latest-album .latest-album-title div a {
  background-color: #b52a2c;
}

/* proximos shows */
/* line 241, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#next-shows {
  text-align: center;
}

/* line 244, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#next-shows .section-title {
  margin-bottom: 100px;
}

/* line 248, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#next-shows .show-info {
  margin: auto;
  width: 70%;
  height: 20px;
  padding: 30px;
  background-image: url(../img/bg-rect.png);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  border-radius: 5px;
}

/* line 261, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#next-shows .show-info .icon {
  width: 13px;
  margin-right: 5px;
}

/* line 266, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#next-shows .show-info h2,
#next-shows .show-info p,
#next-shows .show-info a {
  color: white;
}

/* line 272, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#next-shows .show-info a {
  text-decoration: none;
}

/* line 276, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#next-shows .show-info a:hover {
  opacity: 80%;
  text-decoration: underline;
}

/* line 282, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#next-shows .button {
  width: 70%;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
}

/* pagina videos */
/* line 293, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#videos {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 15px;
}

/* line 301, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card {
  width: 100%;
  background-image: url(../img/bg-rect.png);
  background-size: cover;
  margin-top: 15px;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
}

/* line 310, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card iframe {
  width: 100%;
  height: 315px;
}

/* videos animacion */
/* line 318, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card:hover {
  transform: scale(1.02);
}

/* line 322, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card-description {
  padding: 10px;
  font-size: 12px;
  height: 50px;
}

/* line 327, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card-description h2 {
  font-size: 20px;
  margin-bottom: 5px;
  transition: all ease-in-out 0.5s;
  transition-delay: 1s;
}

/* line 334, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card-description h2:hover {
  text-decoration: line-through;
}

/* pagina tour */
/* main */
/* line 342, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#tour {
  width: 100%;
  height: 500px;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 352, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#tour img {
  width: 50%;
  object-fit: cover;
}

/* lista shows */
/* line 359, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#shows-list {
  background-color: black;
}

/* line 362, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#shows-list div {
  margin-top: 40px;
}

/* line 366, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#shows-list h2,
#shows-list p {
  color: white;
}

/* line 373, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.tour-line {
  margin: auto;
  background-color: #b52a2c;
  width: 80%;
  height: 1px;
}

/* line 380, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.tour-info {
  margin: auto;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  background-image: url(../img/bg-rect.png);
  background-size: cover;
  transition: all 0.5s;
  transition-timing-function: ease-in;
}

/* line 394, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.tour-info h2,
.tour-info p,
.tour-info a {
  width: 20%;
  flex-grow: 1;
}

/* line 401, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.tour-info .button {
  margin-top: 50px;
  text-align: center;
}

/* info tour animacion */
/* line 408, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.tour-info:hover {
  transform: scale(1.01);
  opacity: 85%;
}

/* pagina contacto */
/* line 414, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#contacto {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 15px;
  display: flex;
  justify-content: center;
}

/* formulario */
/* line 426, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container {
  width: 75%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  gap: 150px;
}

/* line 436, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .form {
  width: 50%;
}

/* line 440, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container h1 {
  margin: auto;
}

/* line 444, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container p {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 450, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container input,
.form-container textarea {
  width: 96%;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 2px solid #b52a2c;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Figtree', sans-serif;
  padding: 5px;
}

/* line 462, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container input {
  height: 30px;
}

/* line 466, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .submit {
  border: none;
  background: black;
  color: white;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.5s;
  transition-timing-function: ease;
  margin-bottom: 50px;
  height: 50px;
}

/* line 480, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .submit:hover {
  opacity: 70%;
}

/* line 484, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .checkbox {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

/* line 489, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .checkbox div {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  align-items: center;
  flex-grow: 1;
}

/* line 497, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .checkbox input {
  margin: auto;
  width: 18px;
}

/* line 502, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .checkbox label {
  margin-left: 5px;
  width: 90%;
  font-size: 12px;
}

/* line 509, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container img {
  width: 95px;
  height: 183px;
}

/* pagina musica */
/* musica main */
/* line 518, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#newest-album {
  display: flex;
  background-image: url(../img/music-main.png);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* line 527, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#newest-album div {
  margin-right: 100px;
  width: 30%;
}

/* line 531, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#newest-album div img {
  width: 100%;
  box-shadow: 0px 0px 20px #110000;
}

/* line 536, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#newest-album div iframe {
  margin-top: 15px;
}

/* discografia */
/* line 543, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#album-display {
  margin-top: 50px;
  display: flex;
  gap: 50px;
}

/* line 548, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#album-display .album-card {
  width: 33.3%;
}

/* line 551, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#album-display .album-card img {
  width: 100%;
}

/* footer */
/* line 560, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
footer {
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* line 569, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
footer div {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: right;
}

/* line 576, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
footer p {
  width: 90%;
  text-align: justify;
}

/* line 583, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.redes-footer ul {
  display: flex;
  gap: 10px;
}

/* line 588, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.redes-footer img {
  width: 15px;
}

/* line 592, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.redes-footer li {
  list-style: none;
}

/* media queries */
/* mobile */
@media (max-width: 767px) {
  /* general */
  /* line 603, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  header img {
    width: 60%;
  }
  /* line 607, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  section {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  /* line 612, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .section-title {
    margin-bottom: 25px;
  }
  /* line 617, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  footer {
    font-size: 8px;
  }
  /* index media queries */
  /* line 623, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #index-main {
    width: auto;
    justify-content: center;
    background-image: url(../img/bg.png);
  }
  /* line 628, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #index-main #index-main-content {
    margin-left: 0px;
    width: 80%;
  }
  /* line 635, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #merch-display {
    display: inline-block;
    margin: auto;
    margin-bottom: 0px;
  }
  /* line 640, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #merch-display .merch-card {
    width: 100%;
    height: 300px;
    margin-top: 30%;
    margin-bottom: 50px;
  }
  /* line 646, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #merch-display .merch-card img {
    width: 100%;
    margin-left: 0px;
  }
  /* line 653, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #latest-album {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    height: auto;
    text-align: center;
  }
  /* line 660, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #latest-album img {
    margin-top: 50px;
    width: 70%;
  }
  /* line 665, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #latest-album .latest-album-title {
    margin: auto;
    text-align: center;
    width: 80%;
    margin-bottom: 50px;
  }
  /* line 671, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #latest-album .latest-album-title div {
    display: inline-block;
    margin-top: 25px;
  }
  /* line 676, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #latest-album .latest-album-title .button {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  /* line 686, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #next-shows .section-title {
    margin-bottom: 50px;
  }
  /* line 690, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #next-shows .show-info {
    display: inline-block;
    height: auto;
  }
  /* line 694, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #next-shows .show-info h2 {
    font-size: 20px;
  }
  /* line 698, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #next-shows .show-info p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  /* videos media queries */
  /* line 706, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #videos {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  /* tour media queries */
  /* line 711, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .tour-info {
    height: auto;
    display: inline-block;
    padding-top: 20px;
  }
  /* line 715, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .tour-info h2,
  .tour-info p {
    width: 100%;
    margin-top: 5px;
    text-align: center;
  }
  /* line 722, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .tour-info .button {
    width: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  /* line 730, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #tour img {
    width: 90%;
    object-fit: cover;
  }
  /* Contacto media queries */
  /* line 738, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .form-container {
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  /* line 744, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .form-container .form {
    width: 100%;
  }
  /* line 747, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .form-container .form .submit {
    width: 100%;
  }
  /* line 751, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .form-container .form .checkbox {
    display: inline-block;
  }
  /* line 754, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .form-container .form .checkbox input {
    width: 30px;
  }
  /* line 758, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .form-container .form .checkbox label {
    font-size: 15px;
  }
  /* musica media queries */
  /* line 768, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #newest-album div {
    width: 90%;
    margin-right: 0px;
  }
  /* line 774, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #play-albums {
    margin: auto;
  }
  /* line 777, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #play-albums #album-display {
    display: inline-block;
    margin: auto;
    margin-top: 50px;
  }
  /* line 782, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #play-albums #album-display .album-card {
    margin: auto;
    width: 90%;
    margin-bottom: 30px;
  }
  /* line 787, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #play-albums #album-display .album-card img {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */