@charset "UTF-8";
/* line 1, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/* estilos generales*/
/* line 7, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
body {
  font-family: 'Figtree', sans-serif;
}

/* line 11, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
button {
  border: none;
  text-decoration: none;
}

/* header */
/* line 17, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
header {
  background-image: url(../img/bg-rect.png);
  background-position: center;
  background-size: cover;
}

/* line 21, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
header img {
  width: 30%;
  margin-top: 15px;
  margin-left: auto;
}

/* line 26, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
header a {
  text-decoration: none;
}

/* line 29, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
header li {
  list-style: none;
}

/* line 32, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
header div {
  display: flex;
  padding: 15px;
}

/* line 39, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.redes {
  display: flex;
}

/* line 41, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.redes img {
  width: 20px;
  margin-left: 10px;
}

/* line 48, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
nav {
  background: black;
  padding: 10px;
  margin-top: 10px;
}

/* line 52, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
nav ul {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
  gap: 15px;
}

/* line 59, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
nav a {
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

/* line 64, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
nav a:hover {
  color: #b52a2c;
}

/* home */
/* line 71, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#index-header {
  width: 92,5%;
  height: 100vh;
  background-image: url(../img/home-header.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0px;
  display: flex;
  padding: 30px;
}

/* line 84, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#index-header-content {
  width: 40%;
  margin-top: 150px;
}

/* line 87, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#index-header-content img {
  width: 100%;
}

/* line 91, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#index-header-content button {
  margin-top: 50px;
  background: black;
  color: white;
  padding: 5px;
  height: 30px;
  width: 100%;
  height: 60px;
}

/* pagina videos */
/* line 106, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#videos {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 15px;
}

/* line 113, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card {
  width: 100%;
  background: #b52a2c;
  margin-top: 15px;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
}

/* line 120, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card iframe {
  width: 100%;
  height: 315px;
}

/* animacion */
/* line 127, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card:hover {
  transform: scale(1.02);
}

/* line 131, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card-description {
  padding: 10px;
  font-size: 12px;
  height: 50px;
}

/* line 136, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card-description h2 {
  font-size: 20px;
  margin-bottom: 5px;
  transition: all ease-in-out 0.5s;
  transition-delay: 1s;
}

/* line 142, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.video-card-description h2:hover {
  text-decoration: line-through;
}

/* pagina tour */
/*hero*/
/* line 150, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#tour {
  width: 100%;
  height: 350px;
  background-image: url("../img/tour-header.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 158, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#tour img {
  width: 70%;
  object-fit: cover;
}

/*show list section*/
/* line 165, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#shows-list {
  background-color: black;
  padding: 10%;
  justify-content: center;
}

/* line 169, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#shows-list div {
  margin-top: 40px;
}

/* line 172, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#shows-list h2, #shows-list p {
  color: white;
}

/* line 175, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#shows-list button {
  height: 30px;
  width: 100px;
  color: black;
  background-color: white;
  border-radius: 15px;
  /* animación */
  transition: all 0.3s;
  transition-timing-function: ease;
}

/* line 185, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#shows-list button:hover {
  transform: scale(1.05);
  background-color: #b52a2c;
  color: white;
}

/* line 193, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.tour-line {
  background-color: #b52a2c;
  width: 100%;
  height: 1px;
}

/* line 198, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.tour-info {
  display: flex;
}

/* line 200, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.tour-info h2, .tour-info p, .tour-info button {
  flex-grow: 1;
}

/* line 203, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.tour-info p {
  width: 30%;
}

/*footer*/
/* line 210, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
footer {
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* line 218, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
footer div {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: right;
}

/* line 224, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
footer p {
  width: 90%;
  text-align: justify;
}

/* line 231, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.redes-footer ul {
  display: flex;
  gap: 10px;
}

/* line 235, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.redes-footer img {
  width: 15px;
}

/* line 238, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.redes-footer li {
  list-style: none;
}

/* pagina contacto */
/* line 245, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
#contacto {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
}

/* line 257, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 75%;
  background-color: white;
  padding: 60px;
  display: flex;
}

/* line 265, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .form {
  width: 65%;
}

/* line 268, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container p {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 274, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container input, .form-container textarea {
  width: 96%;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 2px solid #b52a2c;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Figtree', sans-serif;
  padding: 5px;
}

/* line 284, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container input {
  height: 30px;
}

/* line 287, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .submit {
  background: #b52a2c;
  color: white;
  padding: 5px;
  height: 30px;
  width: 100%;
}

/* line 295, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .checkbox {
  margin-bottom: 20px;
}

/* line 298, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .checkbox div {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

/* line 303, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .checkbox input {
  margin: auto;
  width: 10%;
  height: 15px;
}

/* line 308, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container .checkbox label {
  width: 90%;
  font-size: 10px;
}

/* line 313, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
.form-container img {
  width: 100px;
  height: 120px;
  margin-top: 50%;
  margin-left: 80px;
}

/* media queries */
/* mobile */
@media (max-width: 767px) {
  /* general */
  /* line 329, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  header img {
    width: 60%;
  }
  /* line 334, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  footer {
    font-size: 8px;
  }
  /* videos */
  /* line 339, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #videos {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  /* tour */
  /* line 344, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .tour-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /* line 350, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .tour-info h2, p, button {
    margin-top: 15px;
  }
  /* line 354, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .tour-info button {
    width: 50% !important;
  }
  /* line 357, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  #tour img {
    width: 90%;
  }
  /* Contacto */
  /* line 361, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .form {
    padding: 15px;
  }
  /* line 363, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .form input, .form textarea, .form p, .form h2 {
    width: 96%;
  }
  /* line 366, ../../../../../Users/orialves/Desktop/Curso desarrollo web/3ra Pre entrega/scss/styles.scss */
  .form .submit {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */