* {
    margin: 0;
    padding: 0;
}

/* estilos generales*/
body{
    font-family: 'Figtree', sans-serif;
}

button{
    border: none;
    text-decoration: none;
}

/* header */
header{
    background: #b52a2c;
    img {
        width: 30%;
        margin-top: 15px;
        margin-left: auto;
    }
    a {
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    div {
        display: flex;
        padding: 15px;
    }
}
 

.redes{
    display: flex;
    img{
        width: 20px; 
        margin-left: 10px;  
    }
}


nav{
    background: black;
    padding: 10px;
    margin-top: 10px;
    ul{
        display: flex;
        width: 50%;
        margin: auto;
        justify-content: center;
        gap: 15px;
    }
    a{
        color: white;
        font-size: 14px;
        transition: 0.3s;
    }
    a:hover{
        color:#b52a2c;
    }
}

/* pagina videos */

#videos{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 15px;
}
.video-card {
    width: 100%;
    background: #b52a2c;
    margin-top: 15px;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    iframe{
        width:100%;
        height: 315px;
    }
}
/* animacion */

.video-card:hover {
   transform: scale(1.02);
}

.video-card-description{
    padding: 10px;
    font-size: 12px;
    height: 50px;

    h2{
        font-size: 20px;
        margin-bottom: 5px;
        transition: all ease-in-out 0.5s;
        transition-delay: 1s;
    }
    h2:hover{
        text-decoration: line-through;
        }
}


/* pagina tour */
/*hero*/
#tour {
    width: 100%;
    height: 350px;
    background-image: url("../img/tour-header.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 70%;
        object-fit: cover;
    }
}

/*show list section*/
#shows-list{
    background-color: black;
    padding: 10%;
    justify-content: center;
    div{
        margin-top: 40px;
    }
    h2,p{
        color: white;
    }
    button{
        height: 30px;
        width: 100px;
        color: black;
        background-color: white;
        border-radius: 15px;
        /* animación */
        transition: all 0.3s;
        transition-timing-function: ease;
    }
    button:hover{
        transform: scale(1.05);
        background-color: #b52a2c;
        color: white;
    }
    
}

.tour-line{
    background-color: #b52a2c;
    width: 100%;
    height: 1px;
}
.tour-info{
    display: flex;
    h2,p,button {
        flex-grow: 1;  
    }
    p{
        width: 30%;
    }
}

/*footer*/

footer {
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    margin: auto;
    div{
        display: flex;
        margin: auto;
        width: 90%;
        justify-content: right;
    }
    p {
        width: 90%;
        text-align: justify;
    }
}

.redes-footer {
    ul{
        display: flex;
        gap: 10px;
    }
    img{
        width: 15px; 
    }
    li{
        list-style: none;
    }
}

/* pagina contacto */

#contacto {
    background-image:url(../img/bg.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.form-container {
    margin-top: 60px;
    width: 75%;
    background-color: white;
    padding: 60px;
    display: flex;

    .form{
        width: 65%;
        background-color: aqua;
    }
    p{
        margin-top: 10px;
        margin-bottom: 30px;

    }

    input, textarea {
        width: 96%;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 2px solid #b52a2c;
        border-radius: 5px;
        font-size: 15px;
        font-family: 'Figtree', sans-serif;
        padding:5px;
    }
    input{
        height: 30px;
    }
    .submit{
        background: #b52a2c;
        color: white;
        padding: 5px;
        height: 30px;
        width: 100%;
    }
    img{
        width: 100px;
        height: 120px;
        margin-top: 50%;
        margin-left: 80px;
    }
}


/* media queries */

/* mobile */
@media (max-width:767px){

    /* general */
    header img {
        width: 60%;
    }


    footer{
        font-size: 8px;
    }

    /* videos */
    #videos {
        grid-template-columns: repeat(auto-fit, minmax(100%,1fr));
    }

    /* tour */
    .tour-info{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tour-info h2,p,button {
       margin-top: 15px;  
    }

    .tour-info button{
        width: 50% !important;
    }
    #tour img{
        width: 90%;
    }
    /* Contacto */
    .form {
        padding: 15px;
        input, textarea, p, h2 {
            width: 96%;
        }
        .submit {
            width: 100%;
        }
    }
}

